<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">
            <img class="logo d-inline-block align-text-top" src="images/popcorn.svg" alt="">
            WatchMe<span class="logo-span">!</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon toggle-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link navbar-nav-link" href="/index">Catálogo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-nav-link" href="/pelicula">Nueva Película</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-nav-link" href="/serie">Nueva Serie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-nav-link" href="#">Administrar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>