<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layouts/head"><title>WatchMe! - Películas</title></head>

<body>
    <header th:insert="layouts/header"></header>
    <div class="container">
        <section class="form">
            <form th:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-8 offset-md-2">
                <h2 th:text="${titulo}" class="py-4"></h2>
                <div class="row mb-3">
                    <label for="nombre" class="col-sm-2 col-form-label nombre">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" th:field="*{name}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="fecha_estreno" class="col-sm-2 col-form-label">Fecha Estreno</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="fecha_estreno" th:field="*{releaseDate}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="genero" class="col-sm-2 col-form-label">Género</label>
                    <div class="col-sm-10">
                        <select class="form-select" th:field="*{genero}">
                            <option th:each="genero : ${generos}" th:text="${genero.name}" th:value="${genero.id}"></option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="button float-end">Guardar</button>
            </form>
        </section>
    </div>
</body>

</html>